:root {
  --black: black;
  --white: white;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: Manrope, sans-serif;
  font-size: 1rem;
  line-height: 1.2em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4.25em;
  line-height: 1.1em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.375em;
  line-height: 1.1em;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25em;
  line-height: 1.2em;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75em;
  line-height: 1.2em;
}

h5 {
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-top: 3em;
  margin-bottom: 1.1em;
  font-size: 1.2em;
  line-height: 1.2em;
}

h6 {
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1.2em;
}

p {
  margin-bottom: 10px;
  line-height: 1.4em;
}

a {
  text-decoration: underline;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin-bottom: 10px;
}

.global-padding {
  padding-left: 4em;
  padding-right: 4em;
}

.section-typo-zoom-in {
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  height: 300vh;
  margin-bottom: -2px;
}

.section-tutorial {
  padding-top: 18em;
  padding-bottom: 9em;
}

.typo-zoom-sticky {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.typo-zoom-sticky-inner {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.typo-zoom-text {
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.typo-zoom-text-wrapper {
  width: 50vw;
}

.typo-zoom-text-image {
  width: 100%;
}

.nav {
  z-index: 2;
  border-bottom: 0 solid #d3d3d3;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  inset: 0% 0% auto;
}

.container-w1 {
  width: 100%;
  max-width: 95em;
  margin-left: auto;
  margin-right: auto;
}

.section-hero-2 {
  position: relative;
}

.padding-vertical-xlarge {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 90vw;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.timeline_quote {
  color: #fff;
  margin-bottom: 16px;
  font-size: 14px;
}

.timeline_centre {
  justify-content: center;
  display: flex;
}

.timeline-main_heading-wrapper {
  color: #fff;
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.inline-block {
  display: inline-block;
}

.timeline_date-text {
  color: #fff;
  letter-spacing: -.03em;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  position: sticky;
  top: 50vh;
}

.overlay-fade-bottom {
  background-image: linear-gradient(to top, #0a0a0a, #0a0a0a00);
  height: 80px;
  position: absolute;
  inset: auto 0% 0%;
}

.text-colour-lightgrey {
  color: #ffffffa6;
}

.timeline_quote-text-wrapper {
  flex: 1;
}

.timeline_link {
  opacity: .6;
  color: #fff;
  letter-spacing: .8px;
  text-transform: uppercase;
  border-radius: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  transition: opacity .3s;
  display: flex;
}

.timeline_link:hover {
  opacity: 1;
}

.margin-bottom-small {
  margin-bottom: 24px;
}

.margin-bottom-medium {
  margin-bottom: 32px;
}

.timeline_quote-wrapper {
  border: 2px solid #fff;
  border-radius: 16px;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.overlay-fade-top {
  background-image: linear-gradient(#0a0a0a, #0a0a0a00);
  height: 80px;
  position: absolute;
  inset: 0% 0% auto;
}

.timeline_text {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
}

.link-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.timeline_progress-bar {
  z-index: -1;
  background-color: #fff;
  background-image: linear-gradient(#ff7448, #ff4848 51%, #6248ff);
  width: 3px;
  height: 50vh;
  display: none;
  position: fixed;
  inset: 0 auto 50vh;
}

.timeline_component {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.timeline_quote-image {
  border-radius: 8px;
  width: 48px;
  height: 48px;
  margin-right: 24px;
}

.timeline_quote-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.page-wrapper-2 {
  z-index: 0;
  position: relative;
}

.section-timeline-cta {
  background-color: #0a0a0a;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.timeline_image-wrapper {
  background-image: linear-gradient(138deg, #000, #0000 28%), url('../images/Image-Background.png');
  background-position: 0 0, 0 0;
  background-size: auto, cover;
  border-radius: 12px;
  overflow: hidden;
}

.text-underline {
  background-image: url('../images/Underline.svg');
  background-position: 50% 110%;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -8px;
  margin-bottom: -8px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
}

.padding-vertical-xxlarge {
  padding-top: 160px;
  padding-bottom: 160px;
}

.timeline_circle {
  background-color: #fff;
  border-radius: 100%;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  position: sticky;
  top: 50vh;
  box-shadow: 0 0 0 8px #0a0a0a;
}

.timeline_left {
  text-align: right;
  justify-content: flex-end;
  align-items: stretch;
}

.margin-bottom-xlarge {
  margin-bottom: 56px;
}

.paragraph-large {
  letter-spacing: -.02em;
  font-size: 20px;
}

.timeline-hero_heading-wrapper {
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.timeline_item {
  z-index: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 180px 1fr;
  grid-auto-columns: 1fr;
  padding-top: 80px;
  padding-bottom: 80px;
  display: grid;
  position: relative;
}

.timeline_progress {
  z-index: -2;
  background-color: #414141;
  width: 3px;
  height: 100%;
  position: absolute;
}

.section-timeline {
  z-index: -3;
  background-color: #0a0a0a;
  position: relative;
}

.timeline_milestone-badge {
  color: #161616;
  letter-spacing: .05em;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
  display: inline-block;
}

.section-timeline-heading {
  background-color: #0a0a0a;
  border-radius: 8px 8px 0 0;
}

.flipcard-wrapper {
  width: 50%;
  position: relative;
}

.flipcard-back-title {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #90ca5a, #d7d65a 50%, #dac355);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 24px;
}

.container-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  perspective: 1500px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px;
  display: flex;
}

.flipcard-title {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 50px;
  line-height: 62px;
}

.flipcard-title.right {
  text-align: right;
}

.flipcard-front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #fff;
  background-image: url('../images/card-bg.png');
  background-position: 50%;
  background-size: cover;
  border-radius: 30px;
  height: 600px;
  padding-top: 72px;
  padding-left: 40px;
  padding-right: 51px;
  position: relative;
  box-shadow: 7px 7px 40px 6px #00000017;
}

.flipcard-subtitle {
  font-weight: 400;
  line-height: 21px;
}

.flipcard-subtitle.right {
  text-align: right;
}

.section {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
}

.flipcard-more {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.bold-text {
  font-weight: 400;
}

.flipcard-less {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.price {
  color: #0000007a;
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 700;
}

.list {
  padding-left: 20px;
}

.flipcard-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  background-color: #fff;
  border-radius: 30px;
  flex-direction: column;
  align-items: flex-start;
  height: 600px;
  padding-top: 66px;
  padding-left: 44px;
  padding-right: 107px;
  display: flex;
  position: absolute;
  inset: 0%;
  transform: rotateX(0)rotateY(180deg)rotateZ(0);
  box-shadow: 7px 7px 40px 6px #00000017;
}

@media screen and (max-width: 991px) {
  body {
    font-size: .87rem;
  }

  .global-padding {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .flipcard-back-title {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .price {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .list {
    padding-left: 0;
  }

  .flipcard-back {
    padding-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: .75rem;
  }

  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 2.7em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.1em;
  }

  h6 {
    font-size: .9em;
  }

  .padding-vertical-xlarge {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .timeline_centre {
    justify-content: flex-start;
  }

  .timeline_date-text {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .margin-bottom-small {
    margin-bottom: 24px;
  }

  .timeline_quote-wrapper {
    flex-direction: column-reverse;
  }

  .timeline_text {
    font-size: 20px;
  }

  .timeline_quote-image {
    margin-top: 24px;
    margin-right: 0;
  }

  .padding-vertical-xxlarge {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .timeline_left {
    text-align: left;
  }

  .margin-bottom-xlarge {
    margin-bottom: 48px;
  }

  .paragraph-large {
    font-size: 18px;
  }

  .timeline_item {
    grid-template-columns: 64px 1fr;
    width: 100%;
  }

  .timeline_progress {
    left: 6px;
  }

  .flipcard-wrapper {
    width: 100%;
  }

  .flipcard-back-title {
    font-size: 14px;
  }

  .container-2 {
    flex-flow: column;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom-medium {
    margin-bottom: 24px;
  }

  .paragraph-large {
    font-size: 16px;
  }

  .timeline_item {
    grid-template-columns: 48px 1fr;
  }

  .flipcard-wrapper {
    width: 100%;
  }

  .container-2 {
    flex-flow: column;
    flex: none;
  }

  .flipcard-back {
    width: 100%;
    height: auto;
  }
}

#w-node-_8c47d947-2143-a600-3a85-cf43d1db546e-61aa49a4, #w-node-_8c47d947-2143-a600-3a85-cf43d1db5494-61aa49a4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 767px) {
  #w-node-_07b1843b-ba2f-6ca6-a98f-ab889ce68a40-61aa49a4 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_07b1843b-ba2f-6ca6-a98f-ab889ce68a43-61aa49a4 {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-_07b1843b-ba2f-6ca6-a98f-ab889ce68a45-61aa49a4 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_07b1843b-ba2f-6ca6-a98f-ab889ce68a4c-61aa49a4 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_07b1843b-ba2f-6ca6-a98f-ab889ce68a4f-61aa49a4 {
    grid-area: 1 / 1 / 3 / 2;
  }

  #w-node-_07b1843b-ba2f-6ca6-a98f-ab889ce68a95-61aa49a4 {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-_07b1843b-ba2f-6ca6-a98f-ab889ce68a98-61aa49a4 {
    grid-area: 1 / 1 / 3 / 2;
  }
}


@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.ttf') format('truetype'), url('../fonts/Manrope-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}